
<div style="text-align: center; margin-top:10px;" class="custom">
    <h1>Welcome to our library!</h1>
    <div style="margin-top:10px;" class="container">
        <a class="btn btn-primary" routerLink="/authors">Add author</a>
    </div>
    <div style="margin-top:10px;" class="container">
        <a class="btn btn-primary" routerLink="/books">Add book</a>
    </div>
    <div style="margin-top:10px;" class="container">
        <a class="btn btn-primary" routerLink="/readers">Add reader</a>
    </div>
</div>
